<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=10.0">
    <meta name="author" content="Zachary Thallas">
    <meta name="description" content="<%= page.meta_description %>">
    <title><%= page.title %> | <%= config.company.name %></title>
    <link rel="icon" type="image/x-icon" href="<%- config.company.favicon %>">
    <%- include('../snippets/head-additions', { page: page }) %>
</head>
<body>
    <%- include('../snippets/body-additions') %>
    <%- include('../snippets/header', { 
        page: page,
        company: config.company,
        header: config.header,  
        links: config.links }) %>
    <body id="ggm-body" class="main-content-body">
        <%- body %> 
    </body>
    <%- include('../snippets/footer', { 
        page: page,
        company: config.company,
        footer_links: config.footer_links,
        links: config.links }) %>
    <script src="/scripts/chat_plugin.js"></script> 
    <script type="text/javascript" src="//cdn.callrail.com/companies/691517791/60c02cd08e344bb7ef3a/12/swap.js"></script> 
</body>
</html>