<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page.title %> | <%= config.company.name %></title>
    <link rel="icon" type="image/x-icon" href="<%- config.company.favicon %>">
    <%- include('../snippets/head-additions', { page: page }) %>
</head>
<body>
    <%- include('../snippets/body-additions') %>
    <%- include('../snippets/header', { 
        page: page,
        company: config.company,
        header: config.header,  
        links: config.links }) %>
    <body class="main-content-body">
        <%- body %> 
    </body>
    <%- include('../snippets/footer', { 
        page: page,
        company: config.company,
        footer_links: config.footer_links,
        links: config.links }) %>
</body>
</html>