<main class="about-us main-content">
    <%- include('./snippets/title-breadcrumb', { breadcrumb: config.pages.about_us.breadcrumb, helper: helper }) %>
    <%- include('./snippets/about-us/top-page', { company: config.company }) %>
    <%- include('./snippets/about-us/assisted-living', { company: config.company }) %>
    <%- include('./snippets/about-us/transportation-services') %>
    <%- include('./snippets/about-us/medical-supply') %>
    <%- include('./snippets/about-us/our-team') %>
</main>