<header class="hero-header">
    <%- include('./snippets/index/hero', { company: config.company, links: config.links }) %>
</header>
<main class="home-page-main-content">
    <%- include('./snippets/index/our-services', { links: config.links}) %>
    <%- include('./snippets/index/assisted-living', { links: config.links, pages: config.pages }) %>
    <%- include('./snippets/index/nemt-transportation', { links: config.links, company: config.company }) %>
    <%- include('./snippets/index/non-medical', { links: config.links }) %>
</main>