<div class="information-footer">
    <div class="company-information-wrapper">
        <a href="<%- company.home_href %>">
            <img src="<%- company.logo_src %>"  alt="<%- company.logo_alt %>">
        </a>
        <h2><%- company.slogan %></h2>
        <p class="mission-statement">
            <span class="our-mission-title">At Golden Gate Manor, Our Mission Is Simple:</span>
            <span class="our-mission-statement"><%- company.mission_statement %></span>
        </p>
        <p class="follow-us-wrapper">
            Follow Us
            <!-- <img src="" alt=""> -->
        </p>
    </div>
    <div class="non-medical-information-wrapper">

    </div>
    <div class="nemt-information-wrapper">

    </div>
    <div class="assisted-living-information-wrapper">

    </div>
    <div class="medical-supplies-information-wrapper">

    </div>
</div>