<nav class="main-navigation" data-navigation="main">
    <ul class="main-navigation-link-items">
        <% for(const link in links) { %>
            <% if(links[link].sublinks) { %>
                <li class="main-navigation-link-item" data-sublink-wrapper="<%- helper.handleize(links[link].title) %>">
                    <a class="main-navigation-link" href="<%- links[link].href %>"><%- links[link].title %></a>
                    <ul class="main-navigation-sublink-items hidden">
                        <% for(const sublink in links[link].sublinks) { %>
                            <li class="main-navigation-link-item">
                                <a href="<%- links[link].sublinks[sublink].href %>" class="main-navigation-link sublink"><%- links[link].sublinks[sublink].title %></a>
                            </li>
                        <% } %>
                    </ul>
                <% } else { %>
                    <li class="main-navigation-link-item">
                        <a class="main-navigation-link" href="<%- links[link].href %>"><%- links[link].title %></a>
                <% } %>
            </li>
        <% } %>
    </ul>
</nav>