<nav class="mobile-navigation" data-navigation="mobile">
    <div class="mobile-nav-logo-wrapper">
        <div class="mobile-nav-home">
            <a href="<%- company.home_href %>" class="home-logo-link">
                <img src="<%- company.logo_src %>" alt="<% company.logo_alt %>">
            </a>
        </div>
    </div>
    <div class="home-navigation-btn-wrapper">
        <button class="mobile-nav-btn" type="button" data-nav-btn="mobile">
            <div class="mobile-nav-btn-logo-wrapper">
                <div class="mobile-nav-btn-logo-lines" data-btn-lines>
                    <div class="mobile-nav-btn-logo-line line1"></div>
                    <div class="mobile-nav-btn-logo-line line2"></div>
                    <div class="mobile-nav-btn-logo-line line3"></div>
                </div>
            </div>
        </button>
    </div>
    <div class="mobile-navigation-links-wrapper hidden" data-mobile-nav-drawer>
        <ul class="mobile-navigation-link-items">
            <% for(let link in links) { %>
                <li class="mobile-navigation-link-item">
                    <% if(links[link].sublinks) { %>
                        <button class="mobile-navigation-sublink-btn" type="button" data-navigation-btn="<%- helper.handleize(links[link].title) %>"><%- links[link].title %> <span class="sublink-icon-wrapper down"><%- include('../svg/chevron-down') %></span></button>
                        <ul class="mobile-navigation-sublink-items hidden">
                            <% for(const sublink in links[link].sublinks) { %>
                                <li class="mobile-navigation-sublink-item">
                                    <a href="<%- links[link].sublinks[sublink].href %>" class="mobile-navigation-link sublink"><%-
                                            links[link].sublinks[sublink].title %></a>
                                </li>
                                <% } %>
                        </ul>
                    <% } else { %>
                        <a class="mobile-navigation-link" href="<%- links[link].href %>"><%- links[link].title %></a>
                    <% } %>
                </li>
            <% } %>
        </ul>
    </div>
</nav>