<div class="info-header" data-info-header>
    <div class="info-header-left">
        <div class="info-header-home">
            <a href="<%- top.home.href %>" class="home-logo-link">
                <img src="<%- top.home.logo_src %>" alt="<% top.home.logo_alt %>">
            </a>
        </div>
    </div>
    <div class="info-header-right">
        <div class="info-header-non-medical-transportation">
            <div class="logo-wrapper non-medical-transportation">
                <a href="<%- top.non_medical.href %>">
                    <%- include('./svg/non-medical-top') %>
                </a>
            </div>
            <div class="non-medical-transportation info-wrapper">
                <a href="tel:<%- top.non_medical.phone_number %>"><%- top.non_medical.phone_number_format %></a>
                <p class="non-medical-transportation-info content"><%- top.non_medical.content %></p>
                <a class="non-medical-transportation-info anchor" href="<%- top.non_medical.href %>"><%- top.non_medical.content %></a>
            </div>
        </div>
        <div class="info-header-nemt">
            <div class="logo-wrapper nemt">
                <a href="<%- top.nemt.href %>">
                    <%- include('./svg/nemt-top') %>
                </a>
            </div>
            <div class="nemt info-wrapper">
                <a href="tel:<%- top.nemt.phone_number %>"><%- top.nemt.phone_number_format %></a>
                <p class="nemt-info content"><%- top.nemt.content %></p>
                <a class="nemt-info anchor" href="<%- top.nemt.href %>"><%- top.nemt.content %></a>
            </div>
        </div>
        <div class="info-header-assisted-living">
            <div class="logo-wrapper assisted-living">
                <a href="<%- top.assisted_living.href %>">
                    <%- include('./svg/assisted-living-top') %>
                </a>
            </div>
            <div class="assisted-living info-wrapper">
                <a href="tel:<%- top.assisted_living.phone_number %>"><%- top.assisted_living.phone_number_format %></a>
                <p class="assisted-living-info content"><%- top.assisted_living.content %></p>
                <a class="assisted-living-info anchor" href="<%- top.assisted_living.href %>"><%- top.assisted_living.content %></a>
            </div>
        </div>
    </div>
</div>
