<section class="image-carousel-section">
    <script src="/scripts/image-carousel.js" defer></script>
    <div class="image-carousel-wrapper">
        <button class="primary-button image-carousel-btn" type="button" data-carousel-btn="left" aria-label="Slider previous button">
            <div class="btn-logo-wrapper">
                <%- include('../../svg/arrow-left') %>
            </div>
        </button>
        <div class="image-slider-container">
            <!-- <button class="community-images-more-btn" type="button" data-carousel-more-image-btn>More Photos</button> -->
            <% for(let i = 0; i < 8; i++) { %>
                <div class="image-slide-wrapper<% if(i != 0) { %> hidden<% } else { %> shown<% } %>" data-carousel-image-slides="<%- i %>" data-current-slide="<% if(i !=0) { %> no<% } else { %>yes<% } %>">
                    <img src="<%- outreachImages.url[i] %>" alt="<%- outreachImages.description[i] %>">
                </div>
            <% } %>
            <div class="image-slide-indicator-wrapper">
                <% for(let i=0; i < 8; i++) { %>
                    <div class="image-slide-indicator<% if(i === 0) { %> selected<% } %>" data-slide-indicator="<%- i %>"></div>
                <% } %>
            </div>
        </div>
        <button class="primary-button image-carousel-btn" type="button"  data-carousel-btn="right" aria-label="Slider next button">
            <div class="btn-logo-wrapper">
                <%- include('../../svg/arrow-right') %>
            </div>
        </button>
    </div>
</section>