<section class="nemt-transportation-section">
    <div class="nemt-transportation-cta-wrapper">
        <div class="nemt-transportation-cta-left">
            <img src="/images/GGMT-Fleet.webp" alt="Golden Gate Manor fleet lined up in front of the transportation building.">
            <div aria-hidden="true" class="nemt-transportation-card-wrapper">
                <div class="nemt-transportation-card">
                    <div class="card-front"></div>
                    <div class="card-back">
                        <div class="card-back-left">
                            <div class="nemt-transportation-card-logo-wrapper"></div>
                        </div>
                        <div class="card-back-right">
                            <h3 class="nemt-transportation-card-title">
                                <span class="title-top-card-title">Golden Gate Manor</span>
                                <span class="title-bottom-card-title">NEMT</span>
                            </h3>
                            <div class="nemt-transportation-phone-wrapper nemt-card-content-wrapper">
                                <div class="nemt-transportation-phone logo-wrapper">
                                    <%- include('../../svg/telephone') %>
                                </div>
                                <div class="nemt-transportation-phone-numbers nemt-card-content">
                                    <a tabindex="-1" ref="nofollow" href="tel:<%- company.phone_number_dispatch_toll %>">Toll Free: <%- company.phone_number_dispatch_format_toll %></a>
                                    <a tabindex="-1" ref="nofollow"href="tel:<%- company.phone_number_dispatch %>">Phone: <%- company.phone_number_dispatch_format %></a>
                                </div>
                            </div>
                            <div class="nemt-transportation-web-wrapper nemt-card-content-wrapper">
                                <div class="nemt-transportation-web logo-wrapper">
                                    <%- include('../../svg/globe') %>
                                </div>
                                <div class="nemt-transportation-links nemt-card-content">
                                    <a tabindex="-1" href="<%- links.nemt.href %>"><%- links.nemt.title %></a>
                                    <a tabindex="-1" href="<%- links.contact_us.href %>"><%- links.contact_us.title %></a>
                                </div>
                            </div>
                            <div class="nemt-transportation-location-wrapper nemt-card-content-wrapper">
                                <div class="nemt-transportation-location logo-wrapper">
                                    <%- include('../../svg/location') %>
                                </div>
                                <div class="nemt-transportation-address nemt-card-content">
                                    <p class="nemt-transportation-card-adress-line-1"><%- company.address_transportation %></p>
                                    <p class="nemt-transportation-card-adress-line-2"><%- company.address_info %></p>
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
        <div class="nemt-transportation-cta-right">
            <h2 class="nemt-transportation-title">
                <span class="title-top nemt-card">Golden Gate Manor</span>
                <span class="title-bottom nemt-card">Transportation</span>
            </h2>
            <p class="nemt-transportation-content section-text">
                Colorado Medicaid clients can get transportation to any eligible Medicaid covered medical appointment. With our 
                fleet of over 40+ vehicles, Golden Gate Manor Transportation is available when other methods of transportation may not be.
            </p>
            <p class="nemt-transportation-content section-text">
                Clients are required to go to the closest provider that meets their Medicaid medical needs. 
                If our client has a Medicaid approved appointment we are able to take them anywhere in the state of Colorado.
            </p>
            <a href="<%- links.nemt.href %>" class="cta-button nemt-transportation"><span class="read-more-plus">+ </span>Learn More</a>
        </div>
    </div>
</section>