<section class="home-page-our-services">
    <h2 class="our-services-title">
        <span class="top-title">Services</span>
        <span class="bottom-title">We Offer</span>
    </h2>
    <div class="cta-cards-wrapper">
        <div class="cta-card">
            <a href="<%- links.assisted_living.href %>" class="cta-card-link no-hover-page-link">
                <div class="cta-card-top">
                    <div class="cta-icon-wrapper">
                        <%- include('../../svg/assisted-living-cta') %>
                    </div>
                    <h3 class="cta-card-title">
                        <span class="top-title">Assisted</span>
                        <span class="bottom-title">Living</span>
                    </h3>
                    <p class="cta-card-content">Golden Gate Manor, Inc. are highly respected, Medicaid Certified Assisted Living Facilities located in Pueblo, Colorado.
                    Trained staff members are present 24/7 to provide care, assistance with medication, daily living skills, meals,
                    transportation and treatment management.</p>
                </div>
                <span class="cta-button our-services"><span class="read-more-plus">+ </span>Learn More</span></span>
            </a>
        </div>
        <div class="cta-card">
            <a href="<%- links.nemt.href %>" class="cta-card-link no-hover-page-link">
                <div class="cta-card-top">
                    <div class="cta-icon-wrapper">
                        <%- include('../../svg/nemt-cta') %>
                    </div>
                    <h3 class="cta-card-title">
                        <span class="top-title">NEMT</span>
                        <span class="bottom-title">Transportation</span>
                    </h3>
                    <p class="cta-card-content">Non-Emergent Medical Transportation (NEMT) is transportation to and from covered non-emergency medical appointments or
                    services. With our 40+ vehicles, we can take you to any appointment within state lines.</p>
                </div>
                <span class="cta-button our-services"><span class="read-more-plus">+ </span>Learn More</span></span>
            </a>
        </div>
        <div class="cta-card">
            <a href="<%- links.non_medical.href %>" class="cta-card-link no-hover-page-link">
                <div class="cta-card-top">
                    <div class="cta-icon-wrapper">
                        <%- include('../../svg/non-medical-cta') %>
                    </div>
                    <h3 class="cta-card-title">
                        <span class="top-title">Non-Medical</span>
                        <span class="bottom-title">Transportation</span>
                    </h3>
                    <p class="cta-card-content">We are proud to now offer Non-Medical Transportation to Medicaid eligible disabled and elderly members of Pueblo
                    City/County (including Pueblo West). Whether you need to run personal errands, or attend a family event, Golden Gate
                    Manor Transportation can get you there.</p>
                </div>
                <span class="cta-button our-services"><span class="read-more-plus">+ </span>Learn More</span></span>
            </a>
        </div>
        <div class="cta-card">
            <a ref="nofollow" href="<%- links.medical_supply.href %>" class="cta-card-link no-hover-page-link">
                <div class="cta-card-top">
                    <div class="cta-icon-wrapper">
                        <%- include('../../svg/med-supply-cta') %>
                    </div>
                    <h3 class="cta-card-title">
                        <span class="top-title">Durable Medical</span>
                        <span class="bottom-title">Equipment/Supplies</span>
                    </h3>
                    <p class="cta-card-content">Golden Gate Medical Supplies is a family-owned provider of durable medical equipment and supplies. We have been serving
                    individuals, caregivers, and businesses with a commitment to quality care. Our knowledgeable team offers a wide range of
                    products and services to support you.</p>
                </div>
                <span class="cta-button our-services"><span class="read-more-plus">+ </span>Learn More</span></span>
            </a>
        </div>
    </div>
</section>